.cardTemp svg {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .cardTemp svg:first-child {
    animation: top-quote 2s infinite;
  }
  .cardTemp svg:nth-child(2) {
    animation: bottom-quote 2s infinite;
  }
  @keyframes top-quote {
    0% {
      transform: translate(50px, 80px);
      opacity: 0;
    }
    50% {
      transform: translate(50px, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  @keyframes bottom-quote {
    0% {
      transform: translate(-50px, -80px);
      opacity: 0;
    }
    50% {
      transform: translate(-50px, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  